<header class="logo-section">
    <div class="logo">
        <a href="/mall_gin"><img src="/assets/images/logo.png" alt="商城Logo"></a>
    </div>
    <div class="search-box">
        <input type="text" id="search-input" placeholder="请输入关键词..." class="search-input">
        <button type="button" class="search-button">搜 索</button>
    </div>
    <div class="welcome-message"></div> <!-- 新增：用于显示欢迎信息 -->

</header>

<!-- Navigation Bar -->
<nav class="navbar">
    <ul>
        <li><a href="/index">商品明细</a></li>
        <!-- <li><a href="/categories">分类明细</a></li> -->

        <li><a href="/cart">我的购物车</a></li>
        <li><a href="/orders">我的订单</a></li>
        <li><a href="/profile">个人中心</a></li>
    </ul>
</nav>